.mainAlign {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  width: 988px;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 50px;
}

.contentTextSection {
  display: flex;
  flex-direction: column;

  gap: 35px;
}

.imgSection {
  display: none;
}

.title1 {
  color: var(--grey-4);
  font-size: var(--title-1);
  font-weight: var(--title-1-weight);
  line-height: 48px;
  align-self: center;
  width: 270px;
  height: 100px;
}

.mainButton {
  font-size: 16px;
  font-weight: 700;
  width: 17.063rem;
}

@media (min-width: 963px) {
  .imgSection {
    display: block;
  }

  .mainContainer {
    flex-direction: row;
  }

  .mainButton {
    align-self: start;
  }

  .mainButton {
    font-size: 16px;
    font-weight: 700;
    width: 15.063rem;
  }
}
