.cantainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: var(--grey-4);
}

.header__container {
  width: 100%;
  height: 88px;

  background-color: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__align {
  width: 983px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 20px;
}

.header__button {
  width: 64px;
  font-size: 14px;
  background-color: var(--grey-3);
  color: var(--grey-1);
  font-weight: 600;
}

.header__button:hover {
  background-color: var(--grey-1);
  color: var(--grey-4);
}

.main__container {
  display: flex;
  justify-content: space-between;
  gap: 58px;

  margin-top: 39px;
  width: 983px;
  max-width: 100%;
}

.alignMain {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.section__addResume {
  border-radius: 4px;
  width: 330px;
  min-height: 330px;
  max-height: 350px;
  border: 1px solid #dadada;
  background-color: var(--grey-4);
  display: flex;
  flex-direction: column;
  padding: 38px 24px;
  max-width: 100%;
}

.buttonAddToResume {
  font-weight: 500;
  width: 330px;
  max-width: 100%;
}

.title4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
  margin-left: 5px;
  max-width: 100%;
}

.inputDescript {
  width: 314px;
  height: 52px;

  font-size: 16px;

  padding-left: 16px;
  margin-bottom: 15px;

  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #f0f0f0;
  max-width: 100%;
}

.exampleDescript {
  font-size: 12px;
  color: #868e96;
  margin-bottom: 25px;
  margin-left: 5px;
  max-width: 100%;
}

.alignLabel {
  display: flex;
  gap: 135.16px;
  margin-bottom: 9px;
  max-width: 100%;
  font-size: 12px;
}

.labelValue {
  margin-left: 5px;
  max-width: 100%;
}

.alignInputs {
  margin-bottom: 40px;
  display: flex;
  max-width: 100%;
}

.inputValue {
  height: 48px;
  width: 72px;

  padding-left: 16px;
  background-color: #f0f0f0;

  border: none;
  outline: none;
  max-width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.exchange {
  width: 43px;
  margin-right: 36px;
  max-width: 100%;
  background-color: #f0f0f0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 15px;
  font-weight: 700;

  color: #868e96;
}

.selectValue {
  width: 160px;
  height: 48px;
  padding-left: 16px;
  outline: none;
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
  border-radius: 8px;
  max-width: 100%;
}

.section__financialResume {
  width: 575px;
  height: 59px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.title2 {
  font-size: 16px;
  font-weight: 700;
  margin: 0 20px;
  margin-bottom: 32px;
  max-width: 100%;
}
.title1 {
  font-size: 20px;
  margin: 0 20px;
  margin-bottom: 27px;
  font-weight: 700;
  max-width: 100%;
}

.resumeList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.finalPrice {
  display: flex;
  width: 100%;
  background-color: rgb(49, 49, 49);
  margin-top: 30px;
  height: 30px;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
  color: #f0f0f0;
  font-size: 14px;
  font-weight: 600;
}

.noEntriesValue {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  font-size: 40px;
  font-weight: 700;
  color: var(--color-primary);
}

@media (max-width: 1024px) {
  .main__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
  }
  .title2 {
    align-self: center;
  }
  .title1 {
    align-self: center;
  }
}

@media (max-width: 400px) {
  .section__addResume {
    width: 240px;
  }
  .inputDescript {
    width: 220px;
  }
  .inputValue {
    width: 45px;
  }

  .exchange {
    padding-right: 10px;
  }
  .alignLabel {
    display: flex;
    gap: 100px;
  }
  .selectValue {
    width: 100px;
  }
}
