.resume {
  max-width: 90%;
  background-color: #f0f0f0;
  height: 87.35px;
  border-radius: 4px;
  display: flex;
  margin: 0 20px;
  margin-bottom: 33.65px;
  width: 595px;
  position: relative;
}

.boxGreen {
  height: 100%;
  width: 4.01px;
  margin-right: 11px;
  background-color: rgba(3, 184, 152, 1);
  max-width: 100%;
}

.boxText {
  width: 200px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 100%;
}

.resumeName {
  font-size: 16px;
  font-weight: 700;
}

.valueType {
  font-size: 12px;
  font-weight: 400;
}

.valueEntrie {
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 18px;
  right: 100px;
}

.removeResumeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 22px;
  height: 22px;
  background-color: #dfdfdf;
  border-radius: 2.46px;

  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 20px;
}

.removeResumeBtn:hover {
  background-color: #cecece;
}
